* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root   {
    --height-playbar: 100px;
    --height-top_banner: 90px;
    --width-sidebar: 250px;
}

body    {
    color: grey;
    background-color: #141922;
}

/* Main */

main    {
    margin-bottom: 100px;
}

.general_container {
    display: flex;
}

/* Banner */

.top_banner_container   {
    background-color: black;
    opacity: 40%;
    position: fixed;
    height: var(--height-top_banner);

    display: flex;
    justify-content: end;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
}

.top_banner_container span {
    color: white;
    display: block;
    margin-right: 4rem;
    padding: 0.5rem 2rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 2rem;
}

@media all and (max-width: 550px) {

    .top_banner_container span  {
        margin-right: 1rem;
    }    

}

/* Sidebar */

.sidebar_container  {
    background-color: #000000;
    padding: 1rem;
    flex: 0 0 var(--width-sidebar);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 20;
}

.top_div div  {
    margin-bottom: 3rem;
}

/* Logo */

.logo_small {
    display: none;
}

/* Main buttons */

.buttons_container  li  {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.buttons_list img   {
    width: 2em;
    margin-right: 0.25rem;
    display: block;
}

.buttons_list span  {
    font-size: 1.25rem;
    display: block;
}

/* Make playlist */

.make_playlist_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.make_playlist_container h1 {
    color: white;
    flex: 0 0 100%;
}

.make_playlist_container i  {
    font-size: 3rem;
    margin-right: 0.25rem;

    display: block;
}
.make_playlist_container span   {
    font-size: 1.25rem;

    display: block;
}

/* Bottom div */

.download_contaienr i   {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.bottom_div .usr_container  {
    display: flex;
    align-items: center;

    border-top: solid;
    border-width: 2px;
    padding-top: 1rem;
    margin-top: 1rem;
}

 .usr_container img {
    background-color: grey;
    border-radius: 1rem;
    width: 2rem;
    margin-right: 1rem;
    display: block;
}

.usr_container span {
    display: block;
    font-size: 1.25rem;
    color: white;
}

/* Playlist */

.playlist_container li {
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

@media all and (max-width: 550px) {

    :root   {
        --width-sidebar: 50px;
    }

    /* Logo */

    .logo   {
        display: none;
    }

    .logo_small {
        display: block;
        width: 2rem;
    }

    .buttons_list span  {
        display: none;
    }

    .make_playlist_container    {
        display: none;
    }

    .playlist_container {
        display: none;
    }

    .download_contaienr span    {
        display: none;
    }

    .usr_container  span    {
        display: none;
    }

    .bottom_div .usr_container  {
        border-width: 0;
        padding-top: 0;
    }

    .bottom_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Remove margin right */
    .buttons_list img   {
        margin-right: 0;
    }

    .download_contaienr i   {
        margin-right: 0;
    }

    .usr_container img {
        margin-right: 0;
    }

}

/* Songs container */

.songs_container {
    background-color: lightsalmon;
    margin-top: var(--height-top_banner);
    padding: 1rem;
    height: calc(100vh - var(--height-playbar));
    
    display: flex;
    flex-direction: column;

    flex: 1 0 0;
    overflow-y: auto;
}

/* Songs container */

.songs-type-container   {
    background-color: cyan;
    padding: 1rem;

    flex: 1 1 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.songs-type-container ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.songs-type-container a {
    text-decoration: none;
    font-size: 1.5rem;
}

/* Common style */

/* .cards-container {
    --n-columns: 6;
    --gaps: 1rem;
} */

.cards-container {
    background-color: deepskyblue;
    margin-top: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: var(--gaps); */
    gap: 1rem;
}

.songs_container h1 {
    color: white;
}

.card-container {
    background-color: crimson;

    /* flex-grow: 1;
    flex-shrink: 1; */
    /* flex-basis: calc((100% - (var(--n-columns) - 1) * var(--gaps)) / var(--n-columns)); */
    /* flex-basis: calc((100% - ((6 - 1) * 1rem)) / 6 ); */
    flex-basis: calc((100% / 6) - 5rem / 6);

    display: flex;
    flex-direction: column;
}

.card-img-container img {
    width: 100%;
}

@media all and (max-width: 878px)    {

    .cards-container {
        --n-columns: 4;
    }

}

@media all and (max-width: 639px)    {

    .cards-container {
        --n-columns: 2;
    }

}

@media all and (max-width: 552px)    {

    .cards-container {
        --n-columns: 2;
    }

}


/* Recently container */

.recently-played-container  {
    background-color: lightgreen;
    padding: 1rem;

    flex: 1 1 30%;
}

/* Make to Ludwig */

.make-container {
    background-color: yellow;
    padding: 1rem;

    flex: 1 1 30%;
}

.make-container p   {
    color: grey;
}

/* Popular artist */

.popular-artists-container   {
    background-color: hotpink;
    padding: 1rem;

    flex: 1 1 30%;
}

.popular-artists-container p    {
    color: grey;
}

.popular-artists-container .card-img-container img {
    border-radius: 15rem;
}



/* Playbar */

.playbar_container  {
    background-color: #282828;
    height: var(--height-playbar);

    display: flex;
    justify-content: space-between;

    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Left Controls */

.left_controls_container {

    background-color: lightgrey;
    padding: 1rem;

    flex: 0 1 20%;

    display: flex;
    align-items: center;
}

.miniature_container    {
    background-color: red;

    flex: 0 1 70%;
    
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

.miniature_img_container img{
    width: 100%;
    height: 100%;
}

.miniature_img_container    {
    flex: 0 1 30%;
}

.miniature_txt_container    {
    flex: 0 1 70%;
}

.miniature_container h1, p {
    color: white;
}

.favourites_container   {
    background-color: blue;

    flex: 0 1 auto;
}

.favourites_container i     {
    font-size: 2rem;
}


/* Center Controls */

.center_controls_container {

    background-color: lightcyan;

    flex: 0 1 40%;

    display: flex;
    flex-direction: column;
    
}

.player_buttons_container  {
    flex: 1 1 50%;
    background-color: lightcoral;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_buttons_container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.player_buttons_container li    {
    list-style: none;
}

.player_buttons_container li a  {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.player_buttons_container .play_btn {
    font-size: 2rem;
}

/* Playbar container */

.player_container   {
    flex: 1 1 50%;
    background-color: lightgreen;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.player_bar {
    background-color: grey;
    height: 10px;
    border-radius: 3rem;
    
    flex: 1 1 90%;

    display: flex;
}

.song_bar   {
    background-color: white;
    width: 20%;
    border-radius: 3rem;
}

.player_container .time {
    flex: 1 1 auto;
}

/* Right controls */

.right_controls_container {
    background-color: lightpink;
    padding: 1rem;

    flex: 0 1 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.right_controls_container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right_controls_container li    {
    list-style: none;
}

.right_controls_container li a  {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

.volume_bar_container   {
    background-color: grey;
    height: 10px;
    border-radius: 3rem;

    flex: 1 1 100%;

    display: flex;
}

.volume_bar   {
    background-color: white;
    width: 40%;
    border-radius: 3rem;
}