* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root   {
    --height-playbar: 100px;
    --height-top_banner: 90px;
    --width-sidebar: 250px;
}

body    {
    color: grey;
    background-color: #141922;
}

/* Main */

main    {
    margin-bottom: 100px;
}

.general_container {
    display: flex;
}

/* Banner */

.top_banner_container   {
    background-color: black;
    opacity: 40%;
    position: fixed;
    height: var(--height-top_banner);

    display: flex;
    justify-content: end;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
}

.top_banner_container span {
    color: white;
    display: block;
    margin-right: 4rem;
    padding: 0.5rem 2rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 2rem;
}

@media all and (max-width: 430px) {

    .top_banner_container span  {
        margin-right: 1rem;
    }    

}

/* Sidebar */

.sidebar_container  {
    background-color: #000000;
    padding: 1rem;
    flex: 0 0 var(--width-sidebar);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 20;
}

.top_div div  {
    margin-bottom: 3rem;
}

/* Logo */

.logo_small {
    display: none;
}

/* Main buttons */

.buttons_container  li  {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.buttons_list img   {
    width: 2em;
    margin-right: 0.25rem;
    display: block;
}

.buttons_list span  {
    font-size: 1.25rem;
    display: block;
}

/* Make playlist */

.make_playlist_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.make_playlist_container h1 {
    color: white;
    flex: 0 0 100%;
}

.make_playlist_container i  {
    font-size: 3rem;
    margin-right: 0.25rem;

    display: block;
}
.make_playlist_container span   {
    font-size: 1.25rem;

    display: block;
}

/* Bottom div */

.download_contaienr i   {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.bottom_div .usr_container  {
    display: flex;
    align-items: center;

    border-top: solid;
    border-width: 2px;
    padding-top: 1rem;
    margin-top: 1rem;
}

 .usr_container img {
    background-color: grey;
    border-radius: 1rem;
    width: 2rem;
    margin-right: 1rem;
    display: block;
}

.usr_container span {
    display: block;
    font-size: 1.25rem;
    color: white;
}

/* Playlist */

.playlist_container li {
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

@media all and (max-width: 430px) {

    :root   {
        --width-sidebar: 50px;
    }

    /* Logo */

    .logo   {
        display: none;
    }

    .logo_small {
        display: block;
        width: 2rem;
    }

    .buttons_list span  {
        display: none;
    }

    .make_playlist_container    {
        display: none;
    }

    .playlist_container {
        display: none;
    }

    .download_contaienr span    {
        display: none;
    }

    .usr_container  span    {
        display: none;
    }

    .bottom_div .usr_container  {
        border-width: 0;
        padding-top: 0;
    }

    .bottom_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Remove margin right */
    .buttons_list img   {
        margin-right: 0;
    }

    .download_contaienr i   {
        margin-right: 0;
    }

    .usr_container img {
        margin-right: 0;
    }

}

/* Songs container */

.songs_container {
    padding-top: var(--height-top_banner);
    height: calc(100vh - var(--height-playbar));

    flex: 1 0 0;
    overflow-y: auto;

}


/* Playbar */

.playbar_container  {
    background-color: #282828;
    height: var(--height-playbar);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Left Controls */

.miniature_container    {
    background-color: antiquewhite;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* gap: 1rem; */
}

.miniature_img_container img {
    height: 100%;
}

.miniature_img_container {
    flex: 0 1 50%;
}

.miniature_text_container {
    flex: 1 0 50%;
}

/* calc((100% - 1rem)/2) */