* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root   {
    --height-playbar: 100px;
    --height-top_banner: 90px;
    --width-sidebar: 250px;
}

body    {
    color: grey;
}

/* Main */

main    {
    margin-bottom: 100px;
}

.general_container {
    display: flex;
}

/* Banner */

.top_banner_container   {
    background-color: black;
    opacity: 40%;
    position: fixed;
    height: var(--height-top_banner);

    display: flex;
    justify-content: end;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
}

.top_banner_container span {
    color: white;
    display: block;
    margin-right: 4rem;
    padding: 0.5rem 2rem;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 2rem;
}

/* Sidebar */

.sidebar_container  {
    background-color: #000000;
    padding: 1rem;
    flex: 0 0 var(--width-sidebar);

    z-index: 20;
}

.sidebar_container div  {
    margin-bottom: 2rem;
}

/* Main buttons */

.buttons_container  li  {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.test img   {
    width: 2em;
    margin-right: 0.25rem;
    display: block;
}

.test span  {
    font-size: 1.5rem;
    display: block;
}

/* Make playlist */

.make_playlist_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.make_playlist_container h1 {
    color: white;
    flex: 0 0 100%;
}

.make_playlist_container i  {
    font-size: 4rem;
    margin-right: 0.25rem;

    display: block;
}
.make_playlist_container span   {
    font-size: 1.5rem;

    display: block;
}

/* Playlist */

.playlist_container li {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Songs container */

.songs_container {
    background-color: #141922;
    padding-top: var(--height-top_banner);
    height: calc(100vh - var(--height-playbar));

    flex: 1 0 0;
    overflow-y: auto;

}

/* Playbar */

.playbar_container  {
    background-color: #282828;
    position:fixed;
    height: var(--height-playbar);

    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

@media all and (max-width: 430px) {

    :root   {
        --width-sidebar: 50px;
    }

}